h1, h2, h3, h4, h5, h6 {
  font-family: georgia times, times new roman, serif
}


html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

font-family: Arial, helvetica neue, helvetica, sans-serif;
}





header {
  height:71px;
  border-bottom:1px solid #666656;
  box-shadow: 1px 2px 9px #cccccc;
  background-color:#ffffff;

}

.flex-container {
  width:960px;
/* Important in regards to centering the content The height must match the height of the header + border  */
  height:72px;
  margin:0 auto;

  display: flex;
  justify-content: space-between;

  align-items: center;
  border: 5px dotted pink;

}

  .flex-container ul {
  display: flex;

  }

  .flex-container li {
    padding:10px;
  }


  .flex-container li a {
    text-decoration: none;
    color:#777777;
    border-right: 1px solid #777777;
    padding:0px 10px 0px 0px;
  }

  .flex-container li:last-child a {
    border-right: none;
  }

  h1{
    font-size:28px;
    font-weight: bold;
  }

  #header-title {
    background-color: #4aaaa5;
    padding:0 20px 0 20px;
    height:72px;
    line-height: 70px;
  }

  h1 {
    color:#ffffff;
  }
